extends layout

block content
    h1 Chat Rooms
    a.btn.btn-primary(href="/admin/rooms/add") Create a new chat room
    table.table.table-responsive.table-hover
        thead
            tr
                th
                th Room Name
                th Room Id
        tbody
            each room in rooms
                tr
                    td
                        span.glyphicon.glyphicon-book
                    td= room.name
                    td= room.id
